.homeLinks{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
}

.homeLinks a{
    text-decoration: none;
    color: black;
}

.bikelink, .trailslink{
    border: 1px solid black;
    height: 350px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border-radius: 10px;
}
.bikelink a, .trailslink a{
    text-decoration: none;
    color: black;
}

.bikelink{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)),
        url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQBu1jtHXyxT-aOTBGi8bV61PqQhN6WYHGLiQ&usqp=CAU');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

.trailslink{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)),
        url('https://wallpaperaccess.com/full/465036.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}
