.homeLinks{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
}

.homeLinks a{
    text-decoration: none;
    color: white;
}

.bikelink, .trailslink{
    border: 1px solid black;
    height: 350px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  transition: box-shadow 0.1s ease-in-out;
}

.bikelink:hover ,.trailslink:hover{
    box-shadow: 0 5px 15px rgba(0,0,0,0.9);
    transform: scale(1.1, 1.1);
}

.bikelink a, .trailslink a{
    text-decoration: none;
    color: black;
}

.bikelink{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.6)),
        url('https://wallpaperaccess.com/full/333323.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
/* background options: 
https://wallpaperaccess.com/full/333323.jpg
https://wallpaperaccess.com/full/333429.jpg 
*/
.trailslink{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)),
        url('https://wallpaperaccess.com/full/465036.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
