.homeLinks{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.homeLinks a{
    text-decoration: none;
    color: black;
}

.bikelink, .trailslink{
    border: 1px solid black;
    height: 350px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.bikelink a, .trailslink a{
    text-decoration: none;
    color: black;
}

