.entirepage{
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
}

.TrailsPage{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border: 1px solid black;
    background-color: white;
    border-radius: 5px;
    width: 850px;
    height: 450px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  transition: box-shadow 0.1s ease-in-out;
}

.TrailsPage:hover{
    box-shadow: 0 5px 15px rgba(0,0,0,0.8);
}

.picandname{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 25px;
    height: 350px;
    /* border: 1px solid black; */
}

.trailname{
    font-size: 35px;
    /* border: 1px solid black; */
    width: 350px;
}

.details{
    /* border: 1px solid black; */
    width: 350px;
}